/* Solarized Light color scheme */

/* Base colors */
:root {
	--background: #282828;
	--foreground: #657b83;
	--accent: #859900;
	--text: #657b83;
	--link: #268bd2;
}

/* Update specific elements with the colors */
body {
  background-color: var(--background);
  color: var(--text);
}

a {
  color: var(--link);
}

/* Add more styles as needed */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.blinking-title {
	animation: blink 1s linear infinite;
}
